.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  .layout__header {
    flex-shrink: 1;
  }

  .layout__main {
    margin-top: 24px;
    padding: 0 24px;
    flex-grow: 1;
  }
}
